.Logo {
    background-color: white;
    padding: 8px;
    height: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    width: auto;
    display: inline-block;
}
.Logo img {
    height: 100%;
}
